# Final project for Udacity Intro to  Machine learning

Followings are really good resoucres.
Data visualization and how-to for modeling in real data.
https://www.kaggle.com/startupsci/titanic-data-science-solutions

In [2]:
#!/usr/bin/python

import sys
import pickle
sys.path.append("../tools/")

from feature_format import featureFormat, targetFeatureSplit
from tester import dump_classifier_and_data

import matplotlib.pyplot
%matplotlib inline
import pandas as pd
import seaborn as sns

### Task 1: Select what features you'll use.
### features_list is a list of strings, each of which is a feature name.
### The first feature must be "poi".

# List of features

financial_features_list = ['salary', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'restricted_stock_deferred', 'deferred_income', 'total_stock_value', 'expenses', 'exercised_stock_options', 'other', 'long_term_incentive', 'restricted_stock', 'director_fees'] 

email_features_list = ['to_messages', 'email_address', 'from_poi_to_this_person', 'from_messages', 'from_this_person_to_poi', 'shared_receipt_with_poi']

poi_label = ['poi']

features = poi_label + financial_features_list + email_features_list
print "number of features:", len(features)

# features_list = ['poi','salary'] # You will need to use more features

### Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "r") as data_file:
    data_dict = pickle.load(data_file)

print type(data_dict)

data_df = pd.DataFrame.from_dict(data_dict)
data_df = data_df.T #è»¢ç½®
print type(data_df)

print "number of data:", len(data_df)
data_df.head()

/Users/kenji/anaconda3/envs/python2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

number of features: 21
<type 'dict'>
<class 'pandas.core.frame.DataFrame'>
number of data: 146

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [3]:
data_df.describe()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,146,146,146,146,146,146,146,146,146,146,...,146,146,146,146,146,146,146,146,146,146
unique,42,40,45,18,112,102,95,65,58,42,...,53,93,2,98,19,95,84,87,126,125
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,64,107,97,129,35,44,51,60,60,60,...,80,53,128,36,128,51,60,60,21,20

In [9]:
for col in data_df:
    print col

bonus
deferral_payments
deferred_income
director_fees
email_address
exercised_stock_options
expenses
from_messages
from_poi_to_this_person
from_this_person_to_poi
loan_advances
long_term_incentive
other
poi
restricted_stock
restricted_stock_deferred
salary
shared_receipt_with_poi
to_messages
total_payments
total_stock_value

In [69]:
# nan_counter_df = pd.DataFrame
col_list = []
for col in data_df:
    col_list.append(col)
nan_counter_df = pd.DataFrame(index =["NaN counter"],columns = col_list)
nan_counter_df

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
NaN counter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
for col in data_df:
    nan_counter = 0
    for i in data_df[col]:
        if i == "NaN":
            nan_counter += 1
    nan_counter_df[col]["NaN counter"] = nan_counter
nan_counter_df = nan_counter_df.T
nan_counter_df

                          NaN counter
bonus                              64
deferral_payments                 107
deferred_income                    97
director_fees                     129
email_address                      35
exercised_stock_options            44
expenses                           51
from_messages                      60
from_poi_to_this_person            60
from_this_person_to_poi            60
loan_advances                     142
long_term_incentive                80
other                              53
poi                                 0
restricted_stock                   36
restricted_stock_deferred         128
salary                             51
shared_receipt_with_poi            60
to_messages                        60
total_payments                     21
total_stock_value                  20

In [68]:
nan_counter_df.sort_values(by=["NaN counter"], ascending=False)

                          NaN counter
loan_advances                     142
director_fees                     129
restricted_stock_deferred         128
deferral_payments                 107
deferred_income                    97
long_term_incentive                80
bonus                              64
from_messages                      60
from_poi_to_this_person            60
from_this_person_to_poi            60
shared_receipt_with_poi            60
to_messages                        60
other                              53
expenses                           51
salary                             51
exercised_stock_options            44
restricted_stock                   36
email_address                      35
total_payments                     21
total_stock_value                  20
poi                                 0

In [17]:
### Task 2: Remove outliers
data = featureFormat(data_dict, features)

ValueError: could not convert string to float: mark.metts@enron.com

In [ ]:
### Task 3: Create new feature(s)
### Store to my_dataset for easy export below.
my_dataset = data_dict

### Extract features and labels from dataset for local testing
data = featureFormat(my_dataset, features_list, sort_keys = True)
labels, features = targetFeatureSplit(data)

from sklearn.linear_model import Lasso
regression = Lasso()
regression.fit(features, labels)
print regression.coef_

### Task 4: Try a varity of classifiers
### Please name your classifier clf for easy export below.
### Note that if you want to do PCA or other multi-stage operations,
### you'll need to use Pipelines. For more info:
### http://scikit-learn.org/stable/modules/pipeline.html

# Provided to give you a starting point. Try a variety of classifiers.
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

### Task 5: Tune your classifier to achieve better than .3 precision and recall 
### using our testing script. Check the tester.py script in the final project
### folder for details on the evaluation method, especially the test_classifier
### function. Because of the small size of the dataset, the script uses
### stratified shuffle split cross validation. For more info: 
### http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.StratifiedShuffleSplit.html

# Example starting point. Try investigating other evaluation techniques!
from sklearn.cross_validation import train_test_split
features_train, features_test, labels_train, labels_test = \
    train_test_split(features, labels, test_size=0.3, random_state=42)

### Task 6: Dump your classifier, dataset, and features_list so anyone can
### check your results. You do not need to change anything below, but make sure
### that the version of poi_id.py that you submit can be run on its own and
### generates the necessary .pkl files for validating your results.

dump_classifier_and_data(clf, my_dataset, features_list)